<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>The Redis Cookbook</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<a href="http://github.com/rediscookbook/rediscookbook"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>

<div class='header'>
  <h1><a href="/index.html"><img src="/img/header1.png" border="0" alt="Redis Cookbook"></a></h1>
</div>

<div class='main'>
  {{ content }}
</div>

<div class='footer'>
  Edited by <a href="http://github.com/tnm">Ted Nyman</a> and <a href="http://github.com/tlossen">Tim Lossen</a> &mdash; License: <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share Alike 3.0</a> &mdash; <a href="http://twitter.com/rediscookbook/">@rediscookbook</a>
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-15739147-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
