<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Redis Cookbook</title>
  <!-- <link rel="stylesheet" href="reset.css" /> -->
  <style>
    body { margin: 40px; font-size: 16px; font-family: Verdana, Geneva, sans-serif; color: darkblue; background-color: beige; }
    a { text-decoration: none; color: darkblue; }
    a:hover { background-color: lightblue; }
    .header { border-bottom: 1px solid darkblue; font-style: italic;}
    .footer { border-top: 1px solid darkblue; margin-top: 15px; padding-top: 15px; font-style: italic; }
  </style>
</head>
<body>

<div class='header'>
  <h1><a href='index.html'>Redis Cookbook</a></h1>
</div>

<div class='content'>
<%= content %>
</div>

<div class='footer'>
  <a href="http://github.com/rediscookbook/rediscookbook">Please contribute!</a>
</div>

</body>
</html>
