<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Redis Cookbook</title>
   <link rel="stylesheet" href="style.css" />
  <!-- <link rel="stylesheet" href="reset.css" /> -->
</head>
<body>

<a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>

<div class='header'>
  <h1><a href='index.html'><img src="header1.png" border="0" alt="Redis Cookbook"></a></h1>
</div>

<div class='content'>
<div class='main'>
<%= content %>
</div>
</div>

<div class='footer'>
  <a href="http://github.com/rediscookbook/rediscookbook">Please contribute your recipes on GitHub!</a>
<br />
<br />
<p>Edited by Ted Nyman and Tim Lossen | All recipes are covered under the Creative Commons Attribution Share Alike 3.0</p>
<br />
<br />
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15739147-1");
pageTracker._trackPageview();
} catch(err) {}</script>


</body>
</html>
